<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.uc.beeboo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeeBoo</name>
    <description>
        报警
    </description>
    <author email="icsbun@gmail.com" href="http://">
        Hans Chan
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
